.panel {
    width: 190px;
    margin: 0 auto;
    margin-top: 10px;
    padding: 12;
    overflow: hidden;
    text-align: center;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.button {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0px auto;
    font-size: 13px;
    height: 35px;
    padding: 0 3px;
    border-radius: 3px;
}

.button-tool {
    height: 25px;
    width: 25px;
    padding: 0px;
    margin: 0px 1px;
    margin-top: 2px;
    margin-bottom: -4px;
    cursor: pointer;
}

.tab>.button {
    width: 64px;
}

.button-group-small>.button {
    width: 20%;
}

.button-100 {
    width: 100%;
}

.button-50 {
    width: 121px;
}

.button-30 {
    width: 30%;
}

.button-25 {
    width: 25%;
}

.button-23 {
    width: 23%;
}

.button-22 {
    width: 22%;
}

.button-21 {
    width: 21%;
}

.button-20 {
    width: 20%;
}

.button-15 {
    width: 15%;
}

.button-left {
    float: left;
    margin-bottom: 2px;
}

.button-right {
    float: right;
    margin-bottom: 2px;
}

.button-delete:hover,
.button-delete:focus,
.button-delete.focus {
    background-color: #a13331;
}

.button-delete:active,
.button-delete.active {
    background-color: #6e2321;
}

.sectiontitle {
    color: #0091ea;
    margin: 10px 0px;
    display: flex;
    font-weight: 700;
    justify-content: center;
}

p {
    margin-top: 2px;
}

.tabcontent {
    display: none;
}

.tablinks {
    border-radius: 5px;
    padding: 0 5px;
    width: 80px;
    box-shadow: 2px 2px 7px 0px #0000002b;
    font-size: 11px;
}


/* custom add */

.tool-flex {
    display: flex;
    margin-top: 10px;
}

.tool-flex svg {
    margin-right: 5px;
}

.re-one {
    display: flex;
    justify-content: space-around;
    background: #0091ea;
    padding: 2px 0px 10px 0px;
    margin: 10px 3px;
    border-radius: 5px;
}

.flex-panel {
    display: flex;
    flex-wrap: wrap;
}

.logo-head {
    display: flex;
    justify-content: center;
}

#image-logo {
    margin: 15px 0px
}

.contact-form {
    color: #111;
    background: #e3f2fd;
    text-align: justify;
    font-size: 16px;
    max-width: 400px;
    margin: 10px auto;
}

.contact-form p {
    margin: 20px 5px;
    font-weight: 700 !important;
    font-family: 'Roboto Condensed' !important;
}

.contact-form .text-color {
    color: #0091ea;
    text-decoration: none;
    margin: 15px 0px;
}

.contact-form svg {
    margin-right: 10px;
}

.contact-form .sectiontitle {
    margin: 10px 0px;
}

.link {
    margin: 15px 5px;
}

.button-width {
    width: 100%;
}